body {
  font-family: "Prompt", sans-serif;
  color: rgb(255, 255, 255);
  margin: 0;
  background: linear-gradient(45deg, rgb(37, 37, 37), rgb(51, 51, 51));
}

ul {
  list-style: none;
  padding-left: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

a {
  transition: all 0.25s ease-in-out;
}

header ul {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 6px;
}

header nav a:hover {
  background-color: rgba(65, 234, 240, 0.5);
}

#names {
  font-weight: 700;
  font-size: 20px;
  position: relative;
  left: 20px;
}

#overview {
  width: 900px;
  margin: 20px auto;
}

#overview h2 {
  text-align: center;
  color: rgb(65, 234, 240);
}

#overview img {
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

#overview-content {
  width: 75%;
  margin: 0 auto;
}

#overview-content ul {
  margin-left: 50px;
}

#overview-content li {
  margin: 10px 0;
}

#overview-content ul li::before {
  content: "\221E"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(65, 234, 240); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.chinese {
  color: rgb(65, 234, 240);
}

.useful-link {
  text-decoration: none solid 0.2em;
  text-underline-offset: 2px;
  border-radius: 2px;
  padding: 2px;
  color: rgb(205, 164, 252);
}

.useful-link:hover {
  background-color: rgb(205, 164, 252, 0.5);
}
